In [62]:
import pandas as pd
import numpy as np

In [55]:
data2016 = pd.read_excel("nyc_benchmarking_disclosure_data_reported_in_2016.xlsx")
#data2015 = pd.read_excel("2015_nyc_cy2014__ll84_disclosure_data.xlsx")
#data2014 = pd.read_excel("150428_2014_nyc_ll84_disclosure.xlsx")
#data2013 = pd.read_excel("2013_nyc_ll84_disclosure.xlsx")
#data2012 = pd.read_excel("2012_nyc_cy2011_ll84_disclosure_data.xls")

In [32]:
#data2012.columns

In [31]:
#data2013.columns

In [30]:
#data2014.columns

In [29]:
#data2015.columns

In [6]:
#data2016.columns

In [27]:
#data2016.columns

In [7]:
#change the column name BBL
data2016.columns = ['Record Number', 'Order', 'BBL',
       'Co-reported BBL Status', 'BBLs Co-reported',
       'Reported NYC Building Identification Numbers (BINs)', 'Property Name',
       'Parent Property Id', 'Parent Property Name', 'Street Number',
       'Street Name', 'Zip Code', 'Borough',
       'DOF Benchmarking Submission Status',
       'Primary Property Type - Self Selected',
       'List of All Property Use Types at Property',
       'Largest Property Use Type',
       'Largest Property Use Type - Gross Floor Area (ft²)',
       '2nd Largest Property Use Type',
       '2nd Largest Property Use - Gross Floor Area (ft²)',
       '3rd Largest Property Use Type',
       '3rd Largest Property Use Type - Gross Floor Area (ft²)', 'Year Built',
       'Number of Buildings - Self-reported', 'Occupancy',
       'Metered Areas (Energy)', 'Metered Areas  (Water)', 'ENERGY STAR Score',
       'Site EUI (kBtu/ft²)', 'Weather Normalized Site EUI (kBtu/ft²)',
       'Weather Normalized Site Electricity Intensity (kWh/ft²)',
       'Weather Normalized Site Natural Gas Intensity (therms/ft²)',
       'Source EUI (kBtu/ft²)', 'Weather Normalized Source EUI (kBtu/ft²)',
       'Fuel Oil #1 Use (kBtu)', 'Fuel Oil #2 Use (kBtu)',
       'Fuel Oil #4 Use (kBtu)', 'Fuel Oil #5 & 6 Use (kBtu)',
       'Diesel #2 Use (kBtu)', 'District Steam Use (kBtu)',
       'District Hot Water Use (kBtu)', 'District Chilled Water Use (kBtu)',
       'Natural Gas Use (kBtu)',
       'Weather Normalized Site Natural Gas Use (therms)',
       'Electricity Use - Grid Purchase (kBtu)',
       'Weather Normalized Site Electricity (kWh)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Indirect GHG Emissions (Metric Tons CO2e)',
       'DOF Property Floor Area (ft²)', 'Property GFA - Self-reported (ft²)',
       'Water Use (All Water Sources) (kgal)',
       'Municipally Supplied Potable Water - Indoor Intensity (gal/ft²)',
       'Release Date', 'DEP Provided Water Use (kgal)',
       'Automatic Water Benchmarking Eligible', 'Reported Water Method']

In [8]:
BK = pd.read_csv('BK.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18,19,21,22,23,24,25,63,64,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
BK.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,12d,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,16V2
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,195989.0,12d,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,16V2
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,195992.0,12d,NaN,302 007,30101.0,NaN,3.000010e+09,3/4/2016,1,16V2
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,196151.0,12d,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,16V2
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,12d,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,16V2

In [10]:
MN = pd.read_csv('MN.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,22,23,25,63,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
SI = pd.read_csv('SI.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18,19,21,22,23,63,64,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
BX = pd.read_csv('BX.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18,19,21,22,63,64,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
QN = pd.read_csv('QN.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (18,19,21,22,63,64,76) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
frame = [MN, BK, QN, BX, SI]
pluto = pd.concat(frame)

In [16]:
pluto.shape

(858370, 84)

In [17]:
mergeddf = pd.merge(pluto,data2016,on = "BBL")

In [18]:
len(mergeddf)

13185

In [20]:
mergeddf.shape

(13185, 140)

In [21]:
data2016.columns

Index([u'Record Number', u'Order', u'BBL', u'Co-reported BBL Status',
       u'BBLs Co-reported',
       u'Reported NYC Building Identification Numbers (BINs)',
       u'Property Name', u'Parent Property Id', u'Parent Property Name',
       u'Street Number', u'Street Name', u'Zip Code', u'Borough',
       u'DOF Benchmarking Submission Status',
       u'Primary Property Type - Self Selected',
       u'List of All Property Use Types at Property',
       u'Largest Property Use Type',
       u'Largest Property Use Type - Gross Floor Area (ft²)',
       u'2nd Largest Property Use Type',
       u'2nd Largest Property Use - Gross Floor Area (ft²)',
       u'3rd Largest Property Use Type',
       u'3rd Largest Property Use Type - Gross Floor Area (ft²)',
       u'Year Built', u'Number of Buildings - Self-reported', u'Occupancy',
       u'Metered Areas (Energy)', u'Metered Areas  (Water)',
       u'ENERGY STAR Score', u'Site EUI (kBtu/ft²)',
       u'Weather Normalized Site EUI (kBtu/ft²)',
       u'Weather Normalized Site Electricity Intensity (kWh/ft²)',
       u'Weather Normalized Site Natural Gas Intensity (therms/ft²)',
       u'Source EUI (kBtu/ft²)', u'Weather Normalized Source EUI (kBtu/ft²)',
       u'Fuel Oil #1 Use (kBtu)', u'Fuel Oil #2 Use (kBtu)',
       u'Fuel Oil #4 Use (kBtu)', u'Fuel Oil #5 & 6 Use (kBtu)',
       u'Diesel #2 Use (kBtu)', u'District Steam Use (kBtu)',
       u'District Hot Water Use (kBtu)', u'District Chilled Water Use (kBtu)',
       u'Natural Gas Use (kBtu)',
       u'Weather Normalized Site Natural Gas Use (therms)',
       u'Electricity Use - Grid Purchase (kBtu)',
       u'Weather Normalized Site Electricity (kWh)',
       u'Total GHG Emissions (Metric Tons CO2e)',
       u'Direct GHG Emissions (Metric Tons CO2e)',
       u'Indirect GHG Emissions (Metric Tons CO2e)',
       u'DOF Property Floor Area (ft²)', u'Property GFA - Self-reported (ft²)',
       u'Water Use (All Water Sources) (kgal)',
       u'Municipally Supplied Potable Water - Indoor Intensity (gal/ft²)',
       u'Release Date', u'DEP Provided Water Use (kgal)',
       u'Automatic Water Benchmarking Eligible', u'Reported Water Method'],
      dtype='object')

In [22]:
pluto.columns

Index([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'ZipCode', u'FireComp', u'PolicePrct',
       u'HealthArea', u'SanitBoro', u'SanitDistrict', u'SanitSub', u'Address',
       u'ZoneDist1', u'ZoneDist2', u'ZoneDist3', u'ZoneDist4', u'Overlay1',
       u'Overlay2', u'SPDist1', u'SPDist2', u'SPDist3', u'LtdHeight',
       u'SplitZone', u'BldgClass', u'LandUse', u'Easements', u'OwnerType',
       u'OwnerName', u'LotArea', u'BldgArea', u'ComArea', u'ResArea',
       u'OfficeArea', u'RetailArea', u'GarageArea', u'StrgeArea',
       u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs', u'NumFloors',
       u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth', u'BldgFront',
       u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode', u'LotType',
       u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand', u'ExemptTot',
       u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist', u'Landmark',
       u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR', u'BoroCode', u'BBL',
       u'CondoNo', u'Tract2010', u'XCoord', u'YCoord', u'ZoneMap', u'ZMCode',
       u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL', u'APPDate',
       u'PLUTOMapID', u'Version'],
      dtype='object')

In [127]:
df = mergeddf[['Weather Normalized Site Electricity (kWh)','Weather Normalized Source EUI (kBtu/ft²)',\
               'BuiltFAR','YearBuilt','DOF Property Floor Area (ft²)','LotType','ProxCode','BBL',\
               'Primary Property Type - Self Selected',\
               'Zip Code','ENERGY STAR Score','Fuel Oil #1 Use (kBtu)', 'Fuel Oil #2 Use (kBtu)',
               'Fuel Oil #4 Use (kBtu)', 'Fuel Oil #5 & 6 Use (kBtu)',
               'Diesel #2 Use (kBtu)', 'District Steam Use (kBtu)',
                'District Hot Water Use (kBtu)', 'District Chilled Water Use (kBtu)',
               'Natural Gas Use (kBtu)',
               'Weather Normalized Site Natural Gas Use (therms)',
               'Electricity Use - Grid Purchase (kBtu)','LotArea','NumFloors']]

In [106]:
len(df['Primary Property Type - Self Selected'].unique())

54

In [107]:
count = df[['Weather Normalized Site Electricity (kWh)','Primary Property Type - Self Selected']]\
.groupby(['Primary Property Type - Self Selected'])['Weather Normalized Site Electricity (kWh)'].count()\
.reset_index(name='count').sort_values(['count'], ascending=False)
count

                Primary Property Type - Self Selected  count
20                                Multifamily Housing   8402
23                                             Office   1194
11                                              Hotel    228
22                         Non-Refrigerated Warehouse    160
24                                              Other    117
46                              Senior Care Community    107
43                                       Retail Store     95
40                           Residence Hall/Dormitory     92
45                              Self-Storage Facility     85
12                                        K-12 School     83
18                                 Mixed Use Property     73
3                                  College/University     59
6                                 Distribution Center     59
16                     Manufacturing/Industrial Plant     38
10              Hospital (General Medical & Surgical)     36
17                                     Medical Office     32
34                                            Parking     31
52                                   Worship Facility     19
8                                    Financial Office     18
49                          Supermarket/Grocery Store     18
26              Other - Entertainment/Public Assembly     17
32                         Other - Specialty Hospital     15
38                             Refrigerated Warehouse     12
25                                  Other - Education     11
28                                       Other - Mall      8
50                Urgent Care/Clinic/Other Outpatient      7
21                                             Museum      6
2                               Automobile Dealership      6
27                        Other - Lodging/Residential      5
7                                       Enclosed Mall      5
39   Repair Services (Vehicle, Shoe, Locksmith, etc.)      4
31                                   Other - Services      4
51                         Wholesale Club/Supercenter      4
33         Outpatient Rehabilitation/Physical Therapy      4
35                                    Performing Arts      4
47                                Social/Meeting Hall      4
48                                         Strip Mall      3
5                                         Data Center      3
9                      Fitness Center/Health Club/Gym      3
0                                     Adult Education      3
13                                         Laboratory      3
19                                      Movie Theater      2
4                                          Courthouse      2
14                                            Library      2
37                                     Police Station      2
41                          Residential Care Facility      1
42                                         Restaurant      1
36  Personal Services (Health/Beauty, Dry Cleaning...      1
30                                 Other - Recreation      1
29                            Other - Public Services      1
1                          Ambulatory Surgical Center      1
15                                   Lifestyle Center      1
44                                    See Primary BBL      0

In [108]:
df['Primary Property Type - Self Selected'].replace('Multifamily Housing', 'Residential', inplace=True)
df['Primary Property Type - Self Selected'].replace('Residence Hall/Dormitory', 'Residential', inplace=True)
df['Primary Property Type - Self Selected'].replace('Office', 'Commercial', inplace=True)
df['Primary Property Type - Self Selected'].replace('Retail Store', 'Commercial', inplace=True)
df['Primary Property Type - Self Selected'].replace('Financial Office', 'Commercial', inplace=True)
df['Primary Property Type - Self Selected'].replace('Medical Office', 'Commercial', inplace=True)
df['Primary Property Type - Self Selected'].replace('College/University', 'Commercial', inplace=True)
#df['Primary Property Type - Self Selected'].replace('Hotel', 'Commercial', inplace=True)

In [95]:
ResD = df[df['Primary Property Type - Self Selected'] == 'Residential']
ResD.shape

(8793, 24)

In [109]:
Com = df[df['Primary Property Type - Self Selected'] == 'Commercial']
Com.shape

(1446, 24)

In [96]:
ResD_1 = ResD.dropna()
ResD_1.shape

(5852, 24)

In [130]:
ResD_1['log_EUI'] = np.log(ResD_1['Weather Normalized Source EUI (kBtu/ft²)'])
ResD_1['log_Elec'] = np.log(ResD_1['Weather Normalized Site Electricity (kWh)'])

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: RuntimeWarning: divide by zero encountered in log
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [122]:
ResD_2 = ResD_1[(ResD_1.log_EUI > (ResD_1.log_EUI.mean() - 2*ResD_1.log_EUI.std())) & \
                (ResD_1.log_EUI < (ResD_1.log_EUI.mean() + 2*ResD_1.log_EUI.std()))]
ResD_2.shape

(5745, 25)

In [131]:
ResD_3 = ResD_1[(ResD_1.log_Elec > (ResD_1.log_Elec.mean() - 2*ResD_1.log_Elec.std())) & \
                (ResD_1.log_Elec < (ResD_1.log_Elec.mean() + 2*ResD_1.log_Elec.std()))]
ResD_3.shape

(0, 26)

In [134]:
ResD_1.log_Elec.std()

nan

In [135]:
ResD_1['Weather Normalized Site Electricity (kWh)'].dropna()

4        2155535.8
18       2548023.3
27       3049094.2
29       1683218.7
32       3921735.8
33       2217445.0
34       2094158.1
35       2128744.2
36       3124183.7
37       6220871.4
40       4863012.2
58       4763801.9
62       4689582.0
63       4093261.6
64       4323968.9
65       6621904.2
66       4137402.5
77        849185.9
81       8170565.5
84       5254564.5
97       3707249.2
103      6255067.4
118      1037484.1
120      2491023.2
124      3456475.6
127      1338334.3
133      1448111.2
144      1367689.4
145      1621704.0
146      2686814.2
           ...
13031     663329.4
13032     236787.8
13033     211390.0
13034     225144.2
13038     134257.7
13039     126027.0
13041     350600.6
13046    1221754.4
13051     385635.9
13053     362957.0
13068    4678045.5
13073     526730.2
13104    1335694.7
13114    1321499.8
13120     755970.0
13122     557893.8
13123     531979.7
13125     401900.8
13126     466296.0
13127    1861872.1
13129     843471.5
13132    1917131.3
13134    1652791.4
13135    1903867.7
13136     710609.9
13138    1389066.5
13148     479270.7
13149     651134.9
13150     588637.7
13156     280293.9
Name: Weather Normalized Site Electricity (kWh), dtype: float64

In [116]:
Com_1 = Com.dropna()
Com_1.shape

(698, 24)

In [118]:
Com_1['log_EUI'] = np.log(Com_1['Weather Normalized Source EUI (kBtu/ft²)'])

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [121]:
Com_2 = Com_1[(Com_1.log_EUI > (Com_1.log_EUI.mean() - 2*Com_1.log_EUI.std())) & \
                (Com_1.log_EUI < (Com_1.log_EUI.mean() + 2*Com_1.log_EUI.std()))]
Com_2.shape

(667, 25)

In [123]:
Com_2.head()

,Weather Normalized Site Electricity (kWh),Weather Normalized Source EUI (kBtu/ft²),BuiltFAR,YearBuilt,DOF Property Floor Area (ft²),LotType,ProxCode,BBL,Primary Property Type - Self Selected,Zip Code,...,Diesel #2 Use (kBtu),District Steam Use (kBtu),District Hot Water Use (kBtu),District Chilled Water Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),LotArea,NumFloors,log_EUI
0,52052460.7,300.2,16.95,1969,2542563.0,0.0,0.0,1.000048e+09,Commercial,10004.0,...,Not Available,1.08666e+08,Not Available,Not Available,38618831.6,386188.3,177603017.4,111382,50.0,5.704449
14,7848693.5,244.4,15.07,1900,434220.0,4.0,3.0,1.000130e+09,Commercial,10004.0,...,Not Available,15338383,Not Available,Not Available,260130.3,2601.3,27440534.3,28814,22.0,5.498806
42,6579614.6,200.7,25.66,1928,447452.0,5.0,0.0,1.000200e+09,Commercial,10006.0,...,Not Available,1.53504e+07,Not Available,Not Available,336593.0,3365.9,22770645.8,17440,36.0,5.301811
43,8217323.0,266.2,23.72,1983,368315.0,4.0,3.0,1.000200e+09,Commercial,10006.0,...,Not Available,7.57095e+06,Not Available,Not Available,694948.0,6949.5,28037509.6,15529,33.0,5.584248
44,6048042.2,202.6,19.68,1983,309381.0,3.0,2.0,1.000200e+09,Commercial,10006.0,...,Not Available,6.9122e+06,Not Available,Not Available,340400.0,3404.0,21053411.9,15722,31.0,5.311234

In [126]:
ResD_2.to_csv('cleandf_res.csv', index = False)

In [125]:
Com_2.to_csv('cleandf_com.csv', index = False)